body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ffff;
  }
  
  .custom-shape-divider-bottom-1606476473 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1606476473 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 302px;
  }
  
  .custom-shape-divider-bottom-1606476473 .shape-fill {
    fill: #6266ea;
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom-1606476473 svg {
        width: calc(150% + 1.3px);
        height: 150px;
    }
  }
  
  
  .login-container{
    height: 80vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 50px #000;
    border-radius: 20px;
    z-index: 100;
  }
  .login-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .login-header img{
    height: 100px;
    padding-left: 25px;
  }
  
  .login-header i{
    font-size: 25px;
    color: black;
    padding-right: 30px;
    padding: 20px;
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #6266ea;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .box a{
    color: black;
  }
  
  #signup-btn, #login-btn{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  #signup-btn:hover, #login-btn:hover{
    background: #2ecc71;
  }
  
  #home-img{
    height: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #get-started-btn{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: #6266ea;
    font-size: 25px;
    box-shadow: 8px 8px 50px #000;
  }